 :root.theme-dark {
  --main-title-color: #DB00FF; /*  цвет текста заголовка страницы */
  --topic-title-color: #FF0070; /* цвет текста заголовка */
  --topic-accented-title-color: #000028; /* цвет текста акцентного заголовка */
  --topic-text-color: #F1B2CE; /* цвет текста топиков */
  --accent-color: #FF0070; /* акцент; тень; фон */
  --button-text-color: #FF0070; /* цвет текста кнопки */
  --button-hover-color: rgb(255 0 112 / 40%); /* цвет при наведении */
  --button-outline-color: #FF0070; /* outline кнопки*/
  --page-background-image: url(../images/cover-image-dark.png); /* фоновая картинка страницы */
  --page-background-color: #000028; /* цвет фона страницы */
  --decorated-item-display: flex; /*декоративный элемент*/
  --decorated-corners-color: #FF0070; /*декоративные уголки*/
}
