/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  background-image: var(--page-background-image);
  background-color: var(--page-background-color);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  padding-inline: 10px;
  font-family: var(--font-family, 'IBM Plex mono', monospace);
  background-repeat: no-repeat;
  height: 100vh;
}

.header {
  height: 100vh;
  min-height: 668px;
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  align-items: center;
  padding-block: 15px;
  justify-content: center;
  position: relative;
  margin-block-end: 40px;
}

.decorated-zone::before {
  content: '';
  position: absolute;
  border-top: 1px solid var(--accent-color, #FF0070);
  border-right: 1px solid var(--accent-color, #FF0070);
  width: 25px;
  height: 25px;
  top: 10px;
  right: 0;
}

.decorated-zone::after {
  content: '';
  position: absolute;
  border-bottom: 1px solid var(--accent-color, #FF0070);
  border-left: 1px solid var(--accent-color, #FF0070);
  width: 25px;
  height: 25px;
  bottom: 10px;
  left: 0;
}

.decorated-item {
  position: absolute;
  color: var(--accent-color, #FF0070);
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5;
  top: 8px;
  right: 10px;
  display: var(--decorated-item-display, flex);
  align-items: center;
  gap: 12px;
  text-transform: uppercase;
}

.decorated-item::after {
  content: '';
  width: 6px;
  height: 6px;
  border-radius: 50%;
  box-shadow: 0 0 4px 4px var(--accent-color, #FF0070);
  background-color: var(--accent-color, #FF0070);
}

.header__theme-menu {
  color: var(--accent-color, #FF0070);
  justify-self: end;
  padding-block-end: 7px;
}

.header__theme-menu-list {
  display: flex;
  gap: 10px;
  flex-direction: column;
}

.header__theme-menu-button {
  font-weight: 400;
  line-height: 18px;
  font-size: 18px;
  color: var(--button-text-color, #FF0070);
  text-transform: lowercase;
  background-color: transparent;
  border: none;
  padding: 2px 13px 5px 13px;
}

.header__title {
  font-weight: 700;
  font-size: clamp(7.25rem, 5.7694rem + 6.3174vw, 9.8125rem);
  line-height: 83%;
  color: var(--main-title-color);
  text-shadow: 4px 4px 0 var(--accent-color, #FF0070);
}

.header__description {
  font-weight: 700;
  font-size: 18px;
  line-height: 23.4px;
  justify-self: start;
  align-self: center;
  width: clamp(355px, 47%, 364px);
}

.title__accent {
background-color: var(--accent-color, #FF0070);
color: var(--topic-accented-title-color, #000028);
}

.title__no-accent {
color: var(--topic-title-color, #FF0070);
}

.section__list-item:not(:last-child) {
  margin-block-end: 20px;
}

.section__list-item-text {
  color: var(--topic-text-color, #F1B2CE); 
  font-weight: 400px;
  font-size: 18px;
  line-height: 23.4px;
}

.section__list-item-title, .section__title {
font-weight: 700;
  font-size: 18px;
  line-height: 23.4px;
}

.font__weight-standart {
font-weight: 400;
}


.section__title {
  margin-block-end: 20px;
}

.section__list-item-title {
   margin-block-end: 10px;
}
/* ссылки*/
.link {
  text-decoration: none;
  text-shadow: 2px 2px 0 var(--accent-color);
}

.link:hover {
  cursor: pointer;
  border-bottom: 1px solid var(--topic__text-color);
}

.link:focus {
  outline: none;
}

.link:focus-visible {
  outline: 1px solid var(--topic__text-color);
}

.section__content {
  margin-block-end: 50px;
}

.gallery__list {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
}

.gallery__image {
  block-size: 100%;
  inline-size: 100%;
  object-fit: cover;
  display: block;
}

.footer {
  display: grid;
  position: relative;
  grid-template-rows: 100vh;
  justify-items: center;
  align-items: center;
  height: 100vh;
  min-height: 668px;
}

.footer__title {
  font-weight: 700;
  font-size: clamp(7.25rem, 5.7694rem + 6.3174vw, 9.8125rem);
  line-height: 83%;
  color: var(--main-title-color);
  text-shadow: 2px 2px 0 var(--accent-color, #FF0070);
}