/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  background-image: var(--page-background-image);
  background-color: var(--page-background-color);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  padding-inline: 10px;
  font-family: var(--font-family, 'IBM Plex mono', monospace);
  background-repeat: no-repeat;
  height: 100vh;
}

@media(min-width: 768px) {
  .page {
    padding-inline: 20px;
  }
} 

.header {
  height: 100vh;
  min-height: 668px;
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  align-items: center;
  padding-block: 15px;
  justify-content: center;
  position: relative;
  margin-block-end: 40px;
}

@media(min-width: 768px) {
  .header {
    min-height: 768px;
    padding-block: 23px;
    justify-content: normal;
    margin-block-end: 59px;
  }
}

@media(min-width: 1024px) {
  .header {
    align-items: start;
    padding-block: 20px;
  }
}

.decorated-zone::before {
  content: '';
  position: absolute;
  border-top: 1px solid var(--decorated-corners-color, #FF0070);
  border-right: 1px solid var(--decorated-corners-color, #FF0070);
  width: 25px;
  height: 25px;
  top: 10px;
  right: 0;
}

@media(min-width: 768px) {
  .decorated-zone::before {
    top: 19px;
  }
}

.decorated-zone::after {
  content: '';
  position: absolute;
  border-bottom: 1px solid var(--decorated-corners-color, #FF0070);
  border-left: 1px solid var(--decorated-corners-color, #FF0070);
  width: 25px;
  height: 25px;
  bottom: 10px;
  left: 0;
}

@media(min-width: 768px) {
  .decorated-zone::after {
    bottom: 20px;
    left: 20px;
  }
}

@media(min-width: 1024px) {
  .decorated-zone::after {
    left: 0px;
  }
}

.decorated-item {
  position: absolute;
  color: var(--accent-color, #FF0070);
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5;
  top: 8px;
  right: 10px;
  display: var(--decorated-item-display, flex);
  align-items: center;
  gap: 12px;
  text-transform: uppercase;
}

@media(min-width: 768px) {
  .decorated-item{
    top: 18px;
  }
}

.decorated-item::after {
  content: '';
  width: 6px;
  height: 6px;
  border-radius: 50%;
  box-shadow: 0 0 4px 4px var(--accent-color, #FF0070);
  background-color: var(--accent-color, #FF0070);
}

.header__theme-menu {
  color: var(--accent-color, #FF0070);
  justify-self: end;
  padding-block-end: 7px;
}

@media(min-width: 768px) {
  .header__theme-menu {
  padding-block-end: 3px;
  } 
}

@media(min-width: 1024px) {
  .header__theme-menu {
  justify-self: center;
  } 
}

.header__theme-menu-list {
  display: flex;
  gap: 10px;
  flex-direction: column;
}

@media(min-width: 1024px) {
  .header__theme-menu-list {
    flex-direction: row;
  }
}

.header__theme-menu-button {
  font-weight: 400;
  line-height: 18px;
  font-size: 18px;
  color: var(--button-text-color, #FF0070);
  text-transform: lowercase;
  background-color: transparent;
  border: none;
  padding: 2px 13px 5px 13px;
}

.header__theme-menu-button_active {
outline: 1px solid var(--button-outline-color, #FF0070);
pointer-events: none
}

.header__theme-menu-button:hover:not(.header__theme-menu-button_active) {
outline: 1px solid var(--button-hover-color, #FF0070);
cursor: pointer;
}

.header__theme-menu-button:focus-visible {
box-shadow: 0 1px 0 0 var(--button-outline-color, #FF0070);
}

.header__theme-menu-button:focus {
outline: none;
}

.heading {
  font-weight: 700;
  font-size: clamp(7.25rem, 5.7694rem + 6.3174vw, 9.8125rem);
  line-height: 83%;
  color: var(--main-title-color);
}

@media(min-width: 768px) {
  .heading {
  font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }
}

.header__heading {
  text-shadow: 4px 4px 0 var(--accent-color, #FF0070);
}

@media(min-width: 768px) {
  .header__heading {
    margin-inline-start: -20px;
  }
}

.header__description {
  font-weight: 700;
  font-size: 18px;
  line-height: 23.4px;
  justify-self: start;
  align-self: center;
  max-width: 355px;
}

@media(min-width: 768px) {
  .header__description{ 
    justify-self: end;
    max-width: 364px;
  }
}

@media(min-width: 1024px) {
.header__description{ 
  max-width: 491px;
}
}

.main {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

@media(min-width: 768px) {
  .main {
    gap: 80px;
  }
}

@media(min-width: 768px) {
  .section__content:nth-child(2n+1) {
    display: grid;
    grid-template-columns: 236px 1fr;
    gap: 20px
  }
  .section__content:nth-child(2) > .section__title {
    max-width: 236px;
  }

  .section__content:nth-child(2) > .section__list {
    grid-column: 2 / span 2;
  }
}

@media(min-width: 1024px) {
  .section__content:nth-child(2n+1) {
    grid-template-columns: 315px 1fr;
    gap: 20px
  }

  .section__content:nth-child(2) > .section__title {
    max-width: 315px;
  }
  .section__content:nth-child(2) > .section__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }
}

.section__title {
  margin-block-end: 20px;
}

.section__title, .section__list-item-title {
font-weight: 700;
  font-size: 18px;
  line-height: 23.4px;
}


.title__no-accent {
color: var(--topic-title-color, #FF0070);
}

.section__list-item:not(:last-child) {
  margin-block-end: 20px;
}

.section__list-item-title {
   margin-block-end: 10px;
}

.title__accent {
background-color: var(--accent-color, #FF0070);
color: var(--topic-accented-title-color, #000028);
}

.section__list-item-text {
  color: var(--topic-text-color, #F1B2CE); 
  font-weight: 400px;
  font-size: 18px;
  line-height: 23.4px;
}

.text__link {
  text-decoration: none;
  text-shadow: 2px 2px 0 var(--accent-color, #FF0070);
}

.text__link:hover {
  cursor: pointer;
  box-shadow: 0 1px 0 0 var(--topic-text-color, #F1B2CE);
}

.text__link:focus {
  outline: none;
}

.text__link:focus-visible {
  outline: 1px solid var(--topic-text-color, #F1B2CE);
}

.font__weight-standart {
font-weight: 400;
}

.title__gallery{
  margin-block-end: 10px;
}

@media(min-width:768px) {
  .title__gallery{
    margin-block-end: 20px;
  }
}

.gallery__list {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
  margin-block-end: 40px;

}

@media (min-width: 768px) {
  .gallery__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 192px 230px 318px;
    gap: 20px;
    margin-block-end: 0;
  }
}

@media (min-width: 1024px) {
  .gallery__list {
    grid-template-rows: 260px 315px 433px
  }
}

@media (min-width: 768px) {
  .gallery__list-item:nth-child(1) {
    grid-column: 1 / span 2;
  }

  .gallery__list-item:nth-child(2) {
    grid-column: 3;
    grid-row: 1 / span 2;
  }

  .gallery__list-item:nth-child(3) {
    grid-column: 1;
    grid-row: 2 / span 2;
  }

  .gallery__list-item:nth-child(5) {
    grid-column: 2 / span 2;
    grid-row: 3;
  }
}

.gallery__image {
  block-size: 100%;
  inline-size: 100%;
  object-fit: cover;
  display: block;
}

.footer {
  display: grid;
  position: relative;
  grid-template-rows: 100vh;
  justify-items: center;
  align-items: center;
  height: 100vh;
  min-height: 668px;
}

@media(min-width: 768px) {
  .footer {
    margin-top: 60px;
  }
}

.footer__heading {
  text-shadow: 2px 2px 0 var(--accent-color, #FF0070);
}